.header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.3rem;
    padding-bottom: 5.1rem;

    .logo a {
        display: block;
    }

    .actions {
        align-items: center;
        display: flex;

        .links {
            margin-right: 1rem;
        }

        .buttons {
            margin-right: 2rem;
        }

        .lang {
            font-size: 1.6rem;
            margin-right: 0.1rem;

            .lang-select {
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6rem;
            }
        }
    }
}