.header {
    display: flex;
    justify-content: space-between;
    padding: 2.3rem 0 5.1rem;

    .logo a {
        display: block;
    }

    .actions {
        align-items: center;
        display: flex;

        .links {
            margin-right: 1rem;
        }

        .buttons {
            margin-right: 2rem;
        }

        .lang {
            font-size: 1.6rem;
        }
    }
}