[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $font-family-icomoon !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: never;
    vertical-align: middle;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-travel:before {
    content: "\e900";
}

.icon-user:before {
    content: "\e901";
    color: #fff;
}

.icon-slider:before {
    content: "\e902";
}

.icon-select:before {
    content: "\e903";
}