$font-family-lato: 'lato', Arial, Helvetica, sans-serif;
$font-family-merriweather: 'merriweather', Arial, Helvetica, sans-serif;
$font-family-icomoon: 'icomoon';

$color-white: #FFFFFF;
$color-black: #212429;
$color-text: #373D42;
$color-primary: #00A0E0;
$color-primary-hover: $color-white;
$color-body: $color-white;