$font-family-lato: 'lato', Arial, Helvetica, sans-serif;
$font-family-merriweather: 'merriweather', Arial, Helvetica, sans-serif;
$font-family-icomoon: 'icomoon';

$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: #F8F5EC;
$color-gray: #F8F7F7;
$color-text: #373D42;
$color-primary: #0F803E;
$color-primary-hover: #15612F;
$color-primary-active: #144421;
$color-primary-disabled: #D5D9E0;
$color-secondary: #1C3037;
$color-banner: $color-yellow;
$color-footer: $color-secondary;
$color-icon-rounded: #FEDA5B;
$color-section-bg: $color-gray;
$color-copyright: #B1B1B1;
$color-body: $color-gray;
$color-label: #697077;
$color-input-default: #90CB9F;
$color-input-hover: $color-text;
$color-input-active: #242A2E;
$color-input-disabled: #B9BFC7;
$color-input-error: #BA0018;
$color-header-title: $color-label;
$color-header-link: #50565B;
$color-header-separator: $color-input-disabled;
$color-header-steps-border: $color-input-disabled;
$color-header-progress-text: $color-label;
$color-hr-separator: $color-primary-disabled;
$color-panel-selected: #ECF9F3;
$color-custom-checkbox-border: $color-label;
$color-lang-bg: $color-input-disabled;
$color-panel-icon-bg: #EFEFEF;
$color-switch-bg: $color-header-link;
$color-accordion-bg: $color-input-disabled;
$color-accordion-active: #13171A;
$color-menu-overlay-bg: $color-accordion-active;
$color-menu-bg: $color-footer;
$color-button-item-bg: #364C54;
$color-alert: #9D4201;
$color-info: #0051CC;
$color-line-ticket: #8D8D8D;
$color-pending: #0066FF;
$color-error: #E9001F;
$color-nav-link: $color-header-link;
$color-nav-separator: $color-input-disabled;
$color-nav-tabs: #EFEFEF;
$color-bar-left: #FDAC71;
$color-bar-right: #E16B16;
$color-border-charts: $color-bar-right;
$color-scrollbar: #D1D1D1;