/*** LATO ***/
@font-face {
    font-family: 'lato';
    src: url("../../assets/fonts/lato/lato-regular-webfont.eot");
    src: url("../../assets/fonts/lato/lato-regular-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/lato/lato-regular-webfont.woff") format("woff"), url("../../assets/fonts/lato/lato-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url("../../assets/fonts/lato/lato-italic-webfont.eot");
    src: url("../../assets/fonts/lato/lato-italic-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/lato/lato-italic-webfont.woff2") format("woff2"), url("../../assets/fonts/lato/lato-italic-webfont.woff") format("woff"), url("../../assets/fonts/lato/lato-italic-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url("../../assets/fonts/lato/lato-bold-webfont.eot");
    src: url("../../assets/fonts/lato/lato-bold-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/lato/lato-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/lato/lato-bold-webfont.woff") format("woff"), url("../../assets/fonts/lato/lato-bold-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/*** MERRIWEATHER ***/
@font-face {
    font-family: 'merriweather';
    src: url("../../assets/fonts/merriweather/merriweather-regular-webfont.eot");
    src: url("../../assets/fonts/merriweather/merriweather-regular-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/merriweather/merriweather-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/merriweather/merriweather-regular-webfont.woff") format("woff"), url("../../assets/fonts/merriweather/merriweather-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url("../../assets/fonts/merriweather/merriweather-italic-webfont.eot");
    src: url("../../assets/fonts/merriweather/merriweather-italic-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/merriweather/merriweather-italic-webfont.woff2") format("woff2"), url("../../assets/fonts/merriweather/merriweather-italic-webfont.woff") format("woff"), url("../../assets/fonts/merriweather/merriweather-italic-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'merriweather';
    src: url("../../assets/fonts/merriweather/merriweather-bold-webfont.eot");
    src: url("../../assets/fonts/merriweather/merriweather-bold-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/merriweather/merriweather-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/merriweather/merriweather-bold-webfont.woff") format("woff"), url("../../assets/fonts/merriweather/merriweather-bold-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/*** ICOMOON ***/
@font-face {
    font-family: 'icomoon';
    src: url("../../assets/fonts/icomoon/icomoon.eot?r5zx5i");
    src: url("../../assets/fonts/icomoon/icomoon.eot?r5zx5i#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon/icomoon.ttf?r5zx5i") format("truetype"), url("../../assets/fonts/icomoon/icomoon.woff?r5zx5i") format("woff"), url("../../assets/fonts/icomoon/icomoon.svg?r5zx5i#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: never;
    vertical-align: middle;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-travel:before {
    content: "\e900";
}

.icon-user:before {
    content: "\e901";
    color: #fff;
}

/*** BASE ***/
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: "lato", Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    min-height: 100vh;
}

body {
    background-color: #FFFFFF;
    color: #373D42;
}

h1 {
    display: inline-block;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    line-height: 2rem;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.container-fluid {
    margin: auto;
    max-width: 137.8rem;
}

.btn-back {
    display: inline-block;
    margin: 1.6rem 0 0 1.6rem;
}

@media (min-width: 768px) {
    .btn-back {
        margin-left: 2.4rem;
    }
}

.btn-back .icon-arrow-back {
    font-size: 1.6rem;
    margin-right: 1.2rem;
}

.btn-back > span,
.btn-link > span {
    display: inline-block;
    vertical-align: middle;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2.3rem 0 5.1rem;
}

.header .logo a {
    display: block;
}

.header .actions {
    align-items: center;
    display: flex;
}

.header .actions .links {
    margin-right: 1rem;
}

.header .actions .lang {
    font-size: 1.6rem;
}

.btn {
    border: 1px solid #00A0E0;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 2.4rem;
    margin-right: 2rem;
    padding: 0.7rem 1.9rem;
}

.btn > span {
    display: inline-block;
    vertical-align: middle;
}

.btn-primary {
    background-color: #00A0E0;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #FFFFFF;
    color: #00A0E0;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #00A0E0;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background-color: #00A0E0;
    color: #FFFFFF;
}

.btn-link {
    background-color: transparent;
    border: none;
    color: #212429;
    font-weight: 400;
    margin-right: 3rem;
    padding: 0;
    position: relative;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    color: #00A0E0;
}

.btn-link:hover:after, .btn-link:active:after, .btn-link:focus:after {
    background-color: #00A0E0;
    bottom: -0.8rem;
    content: '';
    height: 0.2rem;
    left: 0;
    position: absolute;
    width: 100%;
}

.btn-icon {
    padding-left: 1.5rem;
}

.btn-icon > .icon-user {
    font-size: 2rem;
    margin-right: 0.2rem;
}

/*# sourceMappingURL=styles.css.map */