/*** LATO ***/
@font-face {
    font-family: 'lato';
    src: url("../../assets/fonts/lato/lato-regular-webfont.eot");
    src: url("../../assets/fonts/lato/lato-regular-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/lato/lato-regular-webfont.woff") format("woff"), url("../../assets/fonts/lato/lato-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url("../../assets/fonts/lato/lato-italic-webfont.eot");
    src: url("../../assets/fonts/lato/lato-italic-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/lato/lato-italic-webfont.woff2") format("woff2"), url("../../assets/fonts/lato/lato-italic-webfont.woff") format("woff"), url("../../assets/fonts/lato/lato-italic-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url("../../assets/fonts/lato/lato-bold-webfont.eot");
    src: url("../../assets/fonts/lato/lato-bold-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/lato/lato-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/lato/lato-bold-webfont.woff") format("woff"), url("../../assets/fonts/lato/lato-bold-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/*** MERRIWEATHER ***/
@font-face {
    font-family: 'merriweather';
    src: url("../../assets/fonts/merriweather/merriweather-regular-webfont.eot");
    src: url("../../assets/fonts/merriweather/merriweather-regular-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/merriweather/merriweather-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/merriweather/merriweather-regular-webfont.woff") format("woff"), url("../../assets/fonts/merriweather/merriweather-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url("../../assets/fonts/merriweather/merriweather-italic-webfont.eot");
    src: url("../../assets/fonts/merriweather/merriweather-italic-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/merriweather/merriweather-italic-webfont.woff2") format("woff2"), url("../../assets/fonts/merriweather/merriweather-italic-webfont.woff") format("woff"), url("../../assets/fonts/merriweather/merriweather-italic-webfont.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'merriweather';
    src: url("../../assets/fonts/merriweather/merriweather-bold-webfont.eot");
    src: url("../../assets/fonts/merriweather/merriweather-bold-webfont.eot") format("embedded-opentype"), url("../../assets/fonts/merriweather/merriweather-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/merriweather/merriweather-bold-webfont.woff") format("woff"), url("../../assets/fonts/merriweather/merriweather-bold-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/*** ICOMOON ***/
/*** BASE ***/
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    margin: 0;
    min-height: 100vh;
}

body {
    background-color: #F8F7F7;
    color: #373D42;
}

h1 {
    display: inline-block;
}

h1.lato {
    font-family: "lato", Arial, Helvetica, sans-serif;
}

h1.merriweather {
    font-family: "merriweather", Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    line-height: 2rem;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.container-max-width {
    margin: auto;
    max-width: 136.6rem;
}

.btn-back {
    display: inline-block;
    margin: 1.6rem 0 0 1.6rem;
}

@media (min-width: 768px) {
    .btn-back {
        margin-left: 2.4rem;
    }
}

.btn-back .icon-arrow-back {
    font-size: 1.6rem;
    margin-right: 1.2rem;
}

.btn-back > span,
.btn-link > span {
    display: inline-block;
    vertical-align: middle;
}

/*# sourceMappingURL=styles.css.map */